:root {
  --bg: #24282d;
  --dark: #2f343b;
  --dark_2: #373d45;
  --btn: #434c57;
  --btn_hover: #0496ff;
  --wht: #ffffff;
  --txt: #dee1e5;
  --brdr: #2f343b;
  --inpt: #adb5bd;
}
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg);
}
/* header */
.header_container {
  margin: 0 auto;
  position: relative;
  min-width: 100vw;
  height: 56px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  gap: 32px;
  border-bottom: 1px solid var(--brdr);
}
.header_search {
  max-width: 381px;
  height: 36px;
  background: var(--brdr);
  border: 1px solid var(--dark_2);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 24px;
  isolation: isolate;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.header_search img {
  width: 24px;
  height: 24px;
}
.header_input {
  width: 301px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: var(--inpt);
  background: none;
  border: none;
  flex: none;
  order: 1;
  flex-grow: 1;
  z-index: 1;
}
.header_right_panel {
  max-width: 256px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header_language {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--wht);
  padding: 10px 16px;
  background: var(--brdr);
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
.header_notification {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* gap: 8px; */
  width: 40px;
  height: 40px;
  background: var(--dark_2);
  border-radius: 8px;
}
.header_account {
  cursor: pointer;
}
.header_account img {
  width: 24px;
  height: 24px;
}

/* sidebar */
.sidebar_container {
  display: flex;
  background: var(--bg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  gap: 32px;
  border-right: 1px solid var(--brdr);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 16px;
  width: 88px;
  height: 304px;
}
.sidebar_item {
  width: 88px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar_item:hover {
  background: var(--btn_hover);
  border-radius: 32px;
  transition: 0.3s ease;
}
.sidebar_item a {
  display: flex;
  text-decoration: none;
  color: var(--txt);
}
.sidebar_tool {
  position: absolute;
  top: 8px;
  left: 36px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 16px;
  background: var(--dark);
  border-radius: 6px;
  border: none;
  z-index: 2;
}
.sidebar_text {
  display: none;
}
.sidebar_links.active .sidebar_links {
  align-items: flex-start;
}
.sidebar_links.active .sidebar_text {
  display: block;
}
.sidebar_links.active .sidebar_item a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1070px) {
  .sidebar_container {
    display: none;
  }
  .sidebar_container .active {
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 830px) {
  .sidebar_tool {
    left: 15px;
  }
}
/* content */
.content_container {
  max-width: 840px;
  margin: 56px auto auto auto;
  color: var(--txt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.content_text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: var(--wht);
}
.content_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  background: var(--btn);
  color: var(--wht);
  border: none;
  border-radius: 8px;
}
.content_img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}
.content_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img_text {
  position: absolute;
  left: 16px;
  bottom: 16px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 12px;
}
.content_h2 {
  margin: 24px 0;
  color: var(--wht);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* table */
.content_table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 1rem;
}
.content_table tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content_table td {
  font-size: 14px;
  line-height: 140%;
  padding: 8px 0;
  gap: 8px;
  box-shadow: inset 0px -1px 0px #373d45;
}
/* context_tex */
.content_tex {
  margin: 24px 0;
  font-size: 14px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--brdr);
  border-radius: 6px;
  gap: 8px;
}

.content_tex_frst_box,
.content_tex_snd_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content_tex_frst_box img {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
.content_h3 {
  color: var(--wht);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.content_checkbox {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background: var(--btn);
  border: 1px solid var(--inpt);
  border-radius: 6px;
}
@media (max-width:768px){
  .content_table {
    grid-template-columns: repeat(1,1fr);
  }
  .content_table tr{
    grid-template-columns: repeat(1,1fr);
  }
}